.aboutH3Div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutADiv{
    color: blue;
    font-size: 20px;
    text-align: center;
}

.aboutA:hover {
    text-decoration: underline;
    cursor: pointer;
}